.block {
    text-align: center;
    &__icon {
        margin: 0 0 30px 0;
    }
    &__title {
        color: #353738;
        font-family: Lato;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 3.6px;
        margin-bottom: 20px;
    }
    &__text {
        color: #848789;
        font-size: 18px;
        line-height: 34px;
        &_t {
            text-align: justify;
            font-size: 16px;
            line-height: 30px;
            &:after {
                content: '';
                display: block;
                margin: 35px auto 0 auto;
                width: 50px;
                height: 1px;
                background-color: #ebebeb;
            }
        }
    }
}
