//! Загальні налаштування сайту

//? Шрифт за замовчуванням =======================================================================================================================
$fontFamily: "Lato"; // назва
$fontWeight: 400; // жирність
$fontSize: 16px; // розмір
$fontColor: #000; // колір

//? Розміри сайту ================================================================================================================================
$minWidth: 320px; // мінімальний
$maxWidth: 1920px; // максимальний

//? Розмір контейнера ============================================================================================================================
$maxWidthContainer: 1100; // макетна ширина контейнера (px)
$containerPadding: 15; // внутрішні горизонтальні відступи контейнера (px)
$maxContainerWidth: $containerPadding + $maxWidthContainer + $containerPadding; // браузерна ширина контейнера

//? Брейк-поінти =================================================================================================================================
$pc: $maxContainerWidth + px; // ПК, ноутбуки, деякі планшети в горизонтальному положенні
$tablet: 991.98px; // планшети, деякі телефони в горизонтальному положенні
$mobile: 767.98px; // великі телефони
$mobileSmall: 479.98px; // малі телефони

//? Базові стилі =================================================================================================================================
@import 'base/_mixins';
@import 'base/_animations';
@import 'base/_null';

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

//? Імпорт модулів ===============================================================================================================================
@import 'modules/_header';
@import 'modules/_main-screen';
@import 'modules/_content';
@import 'modules/_block';
@import 'modules/_swiperSlider';
@import 'modules/_footer';